body {
  background-color: #eeefff;
}
span {
  background-color: #5d5fef;
  color: white;
}
.navbar-brand {
  color: #5d5fef;
}
.nav-link:hover {
  color: #5d5fef;
  text-decoration: underline;
}
#news-catagory {
  color: #858585;
}
#news-catagory h6:hover {
  color: #5d5fef;
}
.news-number {
  background-color: white;
}
